html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  height: auto;
  background: #0b265b;
  font-size: 16px;
  font-family: Helvetica;
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5%;
}
.header .header_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header .header_logo .header_title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #e8c888;
  text-transform: capitalize;
  letter-spacing: 3px;
}
.header .header_logo .header_title::first-letter {
  color: #34c5f0;
}
.header .header_logo .header_title .header_title_w {
  color: #34c5f0;
}
.header .header_title_autor {
  font-size: 1.1rem;
  font-weight: 700;
  color: #e8c888;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #e8c888;
}
.header .header_title_autor .header_title_autor_by {
  color: #34c5f0;
}
@media (max-width: 779px) {
  .header .header_title_autor {
    display: none;
  }
}

/* header_end */
/* main */
.main {
  min-height: 50vh;
  justify-content: start;
  flex-direction: column;
  display: flex;
  padding: 20px;
  /* main input */
  /* main input_end */
}
.main .main_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e8c888;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
  margin: 25px;
}
.main .main_title::first-letter {
  color: #34c5f0;
}
.main .main_title .main_title_letter {
  color: #34c5f0;
}
.main .main_input {
  font-size: 1rem;
  font-weight: 900;
  color: #0b265b;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 15px;
  border: 2px solid #e8c888;
  margin: 0 auto;
  padding: 8px 15px;
  background: #e8c888;
  outline: none;
}
@media (min-width: 375px) {
  .main .main_input {
    width: 80%;
  }
}
@media (min-width: 779px) {
  .main .main_input {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .main .main_input {
    width: 40%;
  }
}

.main_section_card_city_weather {
  margin: 50px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Card_weather_city */
  /* Card_weather_city_end */
}
.main_section_card_city_weather .main_section_card_city_weather_article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 20%;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  border: solid 3px #e8c888;
  /* Card_weather_city_header */
  /* Card_weather_city_header_end */
  /* Card_weather_city_title */
  /* Card_weather_city_title_end */
  /* Card_weather_city_image */
  /* Card_weather_city_image_end */
  /* Card_weather_city_footer */
  /* Card_weather_footer */
}
.main_section_card_city_weather .main_section_card_city_weather_article .main_section_card_city_weather_article_header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.main_section_card_city_weather .main_section_card_city_weather_article .main_section_card_city_weather_article_header .main_section_card_city_weather_article_date {
  color: #34c5f0;
  font-weight: 700;
}
.main_section_card_city_weather .main_section_card_city_weather_article .main_section_card_city_weather_article_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e8c888;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-align: center;
  padding: 10px;
}
.main_section_card_city_weather .main_section_card_city_weather_article .main_section_card_city_weather_article_image {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 200px;
  margin: 0 auto;
}
.main_section_card_city_weather .main_section_card_city_weather_article .main_section_card_city_weather_article_footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  padding: 5px;
  /* Card_weather_city_footer_humidity */
  /* Card_weather_city_footer_humidity_end */
  /* Card_weather_city_footer_wind_speed */
  /* Card_weather_city_footer_wind_speed_end */
}
.main_section_card_city_weather .main_section_card_city_weather_article .main_section_card_city_weather_article_footer .main_section_card_city_weather_article_footer_humidity {
  color: #34c5f0;
  font-weight: 700;
}
.main_section_card_city_weather .main_section_card_city_weather_article .main_section_card_city_weather_article_footer .main_section_card_city_weather_article_footer_wind_speed {
  color: #34c5f0;
  font-weight: 700;
}

/* main_end *//*# sourceMappingURL=main.css.map */