// reset
@import 'reset';

// variables
@import 'variables';

// mixins
@import 'mixins';

body {
    @include dimensions($width: 100%, $height: auto);
    background: $primary_color_strong_blue;
    font-size: 16px;
    font-family: Helvetica;
}

/* header */
.header {
    @include flex-container($direction: $flex_direction_row, $justify: $justify_content_space_between, $align: $align_items_center, $wrap: $flex-wrap);
    padding: 0 5%;

    .header_logo {
        @include flex-container($direction: $flex_direction_column, $justify: $justify_content_center, $align: $align_items_center, $wrap: $flex-wrap);

        .header_title {
            @include text-custom($font_size_1_5, $font_weight_light, $primary_color_gold, $text-transform_capitalize, $letter_spacing_strong);

            &::first-letter {
                color: $primary_color_sky_blue;
            }

            .header_title_w {
                color: $primary_color_sky_blue;
            }
        }
    }

    /* header_painter_container */
    .header_painting {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        .header_painting_container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 10px 0;
            border: solid 3px $primary_color_sky_blue;
            border-radius: 10px;
            width: 170px;
            height: 40px;
            background-color: $primary_color_gold;
            .header_painting_container_box{
                width: 18px;
                height: 18px;
                cursor: pointer;
                background: black;
                border-radius: 5px;
            }
        }
        .bxs-palette {
            cursor: $cursor_pointer;
            font-size: $font_size_1_5;
            color: $primary_color_gold;
        }
    }
     /* header_painter_container_end */

    .header_title_autor {
        @include text-custom($font_size_1_1, $font_weight_medium, $primary_color_gold, $text_transform_uppercase, $letter_spacing_strong);
        color: $primary_color_gold;

        .header_title_autor_by {
            color: $primary_color_sky_blue;
        }

        @include media-maxwidth($tablet_size) {
            display: none;
        }
    }
}

/* header_end */

/* main */
.main {
    min-height: 50vh;
    justify-content: start;
    flex-direction: $flex_direction_column;
    display: flex;
    padding: 20px;

    .main_title {
        @include text-custom($font_size_1_5, $font_weight_medium, $primary_color_gold, $text_transform_capitalize, $letter_spacing_medium);
        text-align: $text_align_center;
        margin: 25px;

        &::first-letter {
            color: $primary_color_sky_blue;
        }

        .main_title_letter {
            color: $primary_color_sky_blue;
        }
    }

    /* main input */
    .main_input {
        @include text-custom($font_size_1, $font_weight_strong, $primary_color_strong_blue, $text_transform_capitalize, $letter_spacing_medium);
        @include border-properties($border_style: $border_solid, $border_width: $border-width_2, $border_color: $primary_color_gold, $radius: $border_radius_15);

        @include media-minwidth($smartphone_size) {
            width: 80%;
        }

        @include media-minwidth($tablet_size) {
            width: 60%;
        }

        @include media-minwidth($deskop_size) {
            width: 40%;
        }

        margin: 0 auto;
        padding: 8px 15px;
        background: $primary_color_gold;
        outline: none;
    }

    /* main input_end */
}

.main_section_card_city_weather {
    margin: 50px auto;
    width: 70%;
    @include flex-container($direction: $flex_direction_row, $justify: $justify_content_center, $align: $align_items_center, $wrap: $flex-wrap);

    /* Card_weather_city */
    .main_section_card_city_weather_article {
        @include flex-container($direction: $flex_direction_column, $justify: $justify_content_space_around);
        min-width: 270px;
        width: 20%;
        height: 300px;
        margin: 10px;
        border-radius: $border_radius_10;
        border: solid 3px $primary_color_gold;

        /* Card_weather_city_header */
        .main_section_card_city_weather_article_header {
            display: flex;
            justify-content: $justify_content_space_between;
            padding: 5px 10px;

            .main_section_card_city_weather_article_date {
                color: $primary_color_sky_blue;
                font-weight: $font_weight_medium;
            }
        }

        /* Card_weather_city_header_end */

        /* Card_weather_city_title */
        .main_section_card_city_weather_article_title {
            @include text-custom($font_size_1_5, $font_weight_medium, $primary_color_gold, $text_transform_capitalize, $letter_spacing_strong);
            text-align: $text_align_center;
            padding: 10px;
        }

        /* Card_weather_city_title_end */

        /* Card_weather_city_image */
        .main_section_card_city_weather_article_image {
            display: flex;
            justify-content: center;
            width: auto;
            height: 200px;
            margin: 0 auto;
        }

        /* Card_weather_city_image_end */

        /* Card_weather_city_footer */
        .main_section_card_city_weather_article_footer {
            display: flex;
            justify-content: $justify_content_space_between;
            margin: 0 auto;
            width: 90%;
            padding: 5px;

            /* Card_weather_city_footer_humidity */
            .main_section_card_city_weather_article_footer_humidity {
                color: $primary_color_sky_blue;
                font-weight: $font_weight_medium;
            }

            /* Card_weather_city_footer_humidity_end */

            /* Card_weather_city_footer_wind_speed */
            .main_section_card_city_weather_article_footer_wind_speed {
                color: $primary_color_sky_blue;
                font-weight: $font_weight_medium;
            }

            /* Card_weather_city_footer_wind_speed_end */
        }

        /* Card_weather_footer */
    }

    /* Card_weather_city_end */
}

/* main_end */