// reset
@import 'reset';

// variables
@import 'variables';

// mixins
@import 'mixins';

/* box_design_box */
#box_design_one,
#box_design_two,
#box_design_three {
    @include flex-container($direction: $flex_direction_row, $justify: $justify_content_center, $align: $align_items_center); 
    font-weight: $font_weight_strong;
    background: $primary_color_wheat;    
    border: $border_solid $border_width_3 $primary_color_white;
    font-size: 0.5rem;
}
/* box_design_box_end */

/* article_qr_code */
.article_code_qr {
    @include flex-container($direction: $flex_direction_column, $justify: $justify_content_center, $align: $align_items_center, $wrap: $flex_no_wrap);
    position: fixed;
    width: 180px;
    height: 200px;
    bottom: 20px;
    right: -100%;
    background: $primary_color_wheat;
    border-radius: $border_radius_10;
    outline: $border_solid $border_width_3 $primary_color_black;
    transition: 3s;

    .bx-x {
        cursor:$cursor_pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: $primary_color_black;

        &:hover {
            color: $primary_color_sky_blue;
        }
    }

    .article_code_qr_container {
        @include flex-container($direction: $flex_direction_row, $justify: $justify_content_center, $align: $align_items_center); 
        margin-top: 20px;

        .article_code_qr_container_image {
            position: absolute;
            z-index: 10;
            background: $primary_color_strong_blue;
            border-radius: $font_size_1_1;
        }
    }

    .article_code_qr_title {
        @include text-custom($font_size_1_2, $font_weight_medium, $primary_color_strong_blue, $text-transform_capitalize, $letter_spacing_medium);
        margin-top: 10px;
    }
}
/* article_qr_code_end */

/* body */
body {
    @include dimensions($width: 100%, $height: auto);
    background: $primary_color_strong_blue;
    font-size: 16px;
    font-family: Helvetica;
    transition: 0.5s;

    &.active_design_one {
        background: $primary_color_black;
    }
    &.active_design_two {
        background: $primary_color_slate_blue;
    }
    &.active_design_three {
        background: $primary_color_light_white;
    }
}
/* body_end */

/* header */
.header {
    @include flex-container($direction: $flex_direction_row, $justify: $justify_content_space_between, $align: $align_items_center, $wrap: $flex-wrap);
    padding: 0 5%;

    .header_logo {
        @include flex-container($direction: $flex_direction_column, $justify: $justify_content_center, $align: $align_items_center, $wrap: $flex-wrap);

        .header_logo_link {
            @include flex-container($direction: $flex_direction_column, $justify: $justify_content_center, $align: $align_items_center, $wrap: $flex_no_wrap);

            .header_title {
                @include text-custom($font_size_1_5, $font_weight_light, $primary_color_gold, $text-transform_capitalize, $letter_spacing_strong);
                transition: 0.5s;

                .header_title_w {
                    color: $primary_color_sky_blue;
                    transition: 0.5s;
                }

                .header_title_s {
                    color: $primary_color_sky_blue;
                    transition: 0.5s;
                }

                &.active_design_one {
                    color: $primary_color_pale_brown_gray;

                    .header_title_w {
                        color: $primary_color_white;
                    }

                    .header_title_s {
                        color: $primary_color_white;
                    }
                }
                &.active_design_two {
                    color: $primary_color_wheat;

                    .header_title_w {
                        color: $primary_color_medium_turquoise;
                    }

                    .header_title_s {
                        color: $primary_color_medium_turquoise;
                    }
                }
                &.active_design_three {
                    color: $primary_color_navy_blue;

                    .header_title_w {
                        color: $primary_color_light_yellow;
                    }

                    .header_title_s {
                        color: $primary_color_light_yellow;
                    }
                }
            }
        }
    }

    /* header_painter_container */
    .header_painting {
        @include flex-container($direction: $flex_direction_column, $align: $align_items_center);
        margin: 10px 0;

        .header_painting_container {
            @include flex-container($direction: $flex_direction_row, $justify: $justify_content_space_around, $align: $align_items_center); 
            @include border-properties($border_style: $border_solid, $border_width: $border_width_3, $border_color: $primary_color_sky_blue, $radius:$border_radius_10);
            background: $primary_color_gold;
            margin: 10px 0;
            width: 170px;
            height: 40px;
            transition: 0.5s;
            @include media-maxwidth($smartphone_medium_size){
                flex-direction: $flex_direction_column;
                width: 50px;
                height: 130px;
            }

            &.active_design_one {
                background: $primary_color_pale_brown_gray;
                border: $border_solid $border_width_3 $primary_color_white;
            }
            &.active_design_two {
                background: $primary_color_medium_turquoise;
                border: $border_solid $border_width_3 $primary_color_wheat;
            }
            &.active_design_three {
                background: $primary_color_lilac;
                border: $border_solid $border_width_3 $primary_color_light_yellow;
            }

            .header_painting_container_box {
                cursor: $cursor_pointer;
                width: 18px;
                height: 18px;
                background: $primary_color_black;
                border-radius: $border_radius_5;
            }
        }

        .bxs-palette {
            @include media-maxwidth($smartphone_medium_size){
                visibility: hidden;
            }
            cursor: $cursor_pointer;
            font-size: $font_size_1_5;
            color: $primary_color_gold;
            transition: 0.5s;
            animation: move 3s linear infinite;

            &.active_design_one {
                color: $primary_color_white;
            }
            &.active_design_two {
                color: $primary_color_medium_turquoise;
            }
            &.active_design_three {
                color: $primary_color_navy_blue;
            }
        }
    }

    @keyframes move {
        50% {
            transform: scale(1.1);
            transform: rotate(220deg);
        }

        100% {
            transform: rotate(0)
        }
    }

    /* header_painter_container_end */

    .header_title_autor {
        @include text-custom($font_size_1_1, $font_weight_medium, $primary_color_gold, $text_transform_uppercase, $letter_spacing_strong);
        color: $primary_color_gold;

        &.active_design_one {
            color: $primary_color_pale_brown_gray;
        }
        &.active_design_two {
            color: $primary_color_medium_turquoise;
        }
        &.active_design_three {
            color: $primary_color_navy_blue;
        }

        .header_title_autor_by {
            color: $primary_color_sky_blue;
            transition: 0.5s;

            &.active_design_one {
                color: $primary_color_white;
            }
            &.active_design_two {
                color: $primary_color_wheat;
            }
            &.active_design_three {
                color: $primary_color_light_yellow;
            }
        }

        @include media-maxwidth($tablet_size) {
            display: none;
        }
    }
}

/* header_end */

/* main */
.main {
    min-height: 50vh;
    display: flex;
    justify-content: start;
    flex-direction: $flex_direction_column; 

    .main_title {
        @include text-custom($font_size_1_5, $font_weight_medium, $primary_color_gold, $text_transform_capitalize, $letter_spacing_medium);
        text-align: $text_align_center;
        margin: 25px auto;
        padding: 10px 0;
        transition: 0.5s;
        animation: text 2s ease-in-out 5;

        .main_title_letter {
            transition: 0.5s;
            color: $primary_color_sky_blue;
        }

        &.active_design_one {
            color: $primary_color_pale_brown_gray;

            .main_title_letter {
                color: $primary_color_white;
            }
        }
        &.active_design_two {
            color: $primary_color_medium_turquoise;

            .main_title_letter {
                color: $primary_color_wheat;
            }
        }
        &.active_design_three {
            color: $primary_color_navy_blue;

            .main_title_letter {
                color: $primary_color_light_yellow;
            }
        }
    }

    /* main input */
    .main_input {
        @include text-custom($font_size_1, $font_weight_strong, $primary_color_strong_blue, $text_transform_capitalize, $letter_spacing_medium);
        @include border-properties($border_style: $border_solid, $border_width: $border-width_2, $border_color: $primary_color_gold, $radius: $border_radius_15);
        transition: 0.5s;

        @include media-minwidth($smartphone_size) {
            width: 80%;
        }
        @include media-minwidth($tablet_size) {
            width: 60%;
        }
        @include media-minwidth($deskop_size) {
            width: 40%;
        }

        background: $primary_color_gold;
        margin: 0 auto;
        padding: 8px 15px;
        outline: none;
        transition: 0.5s;

        &.active_design_one {
            @include text-custom($font_size_1, $font_weight_strong, $primary_color_white, $text_transform_capitalize, $letter_spacing_medium);
            @include border-properties($border_style: $border_solid, $border_width: $border-width_2, $border_color: $primary_color_pale_brown_gray, $radius: $border_radius_15);
            background: $primary_color_pale_brown_gray;
        }
        &.active_design_two {
            @include text-custom($font_size_1, $font_weight_strong,$primary_color_white, $text_transform_capitalize, $letter_spacing_medium);
            @include border-properties($border_style: $border_solid, $border_width: $border-width_2, $border_color: $primary_color_wheat, $radius: $border_radius_15);
            background: $primary_color_medium_turquoise;
        }
        &.active_design_three {
            @include text-custom($font_size_1, $font_weight_strong, $primary_color_navy_blue, $text_transform_capitalize, $letter_spacing_medium);
            @include border-properties($border_style: $border_solid, $border_width: $border-width_2, $border_color: $primary_color_light_yellow, $radius: $border_radius_15);
            background: $primary_color_lilac;
        }
    }
    /* main input_end */
}

@keyframes text {
    0%, 100% {
        color: $primary_color_gold;
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(-5px);
        opacity: 0.9;
    }
    40% {
        transform: translateX(5px);
        opacity: 0.9;
    }
    60%, 80% {
        transform: translateX(0);
        opacity: 1;
    }
}

.main_section_card_city_weather {
    margin: 50px auto;
    width: 70%;
    @include flex-container($direction: $flex_direction_row, $justify: $justify_content_center, $align: $align_items_center, $wrap: $flex-wrap);

    /* Card_weather_city */
    .main_section_card_city_weather_article {
        @include flex-container($direction: $flex_direction_column, $justify: $justify_content_space_around);
        @include border-properties($border_style: $border_solid, $border_width: $border_width_3, $border_color: $primary_color_gold, $radius:$border_radius_10);
        min-width: 270px;
        width: 20%;
        height: 300px;
        margin: 10px;

        &.active_design_one {
            border: $border_solid $border_width_3 $primary_color_pale_brown_gray;
        }
        &.active_design_two {
            border: $border_solid $border_width_3 $primary_color_medium_turquoise;
            background: $primary_color_wheat;
        }
        &.active_design_three {
            border: $border_solid $border_width_3 $primary_color_navy_blue;
            background: $primary_color_lilac;
        }

        /* Card_weather_city_header */
        .main_section_card_city_weather_article_header {
            display: flex;
            justify-content: $justify_content_space_between;
            padding: 5px 10px;

            .main_section_card_city_weather_article_date {
                color: $primary_color_sky_blue;
                font-weight: $font_weight_medium;

                &.active_design_one {
                    color: $primary_color_white;
                }
                &.active_design_two {
                    color: $primary_color_medium_turquoise;
                }
                &.active_design_three {
                    color: $primary_color_navy_blue
                }
            }
        }

        /* Card_weather_city_header_end */

        /* Card_weather_city_title */
        .main_section_card_city_weather_article_title {
            @include text-custom($font_size_1_5, $font_weight_medium, $primary_color_gold, $text_transform_capitalize, $letter_spacing_strong);
            text-align: $text_align_center;
            padding: 10px;

            &.active_design_one {
                color: $primary_color_pale_brown_gray;
            }
            &.active_design_two {
                color: $primary_color_slate_blue;
            }
            &.active_design_three {
                color: $primary_color_light_yellow;
            }
        }
        /* Card_weather_city_title_end */

        /* Card_weather_city_image */
        .main_section_card_city_weather_article_image {
            display: flex;
            justify-content: $justify_content_center;
            width: auto;
            height: 200px;
            margin: 0 auto;
        }
        /* Card_weather_city_image_end */

        /* Card_weather_city_footer */
        .main_section_card_city_weather_article_footer {
            display: flex;
            justify-content: $justify_content_space_between;
            margin: 0 auto;
            width: 90%;
            padding: 5px;

            /* Card_weather_city_footer_humidity */
            .main_section_card_city_weather_article_footer_humidity {
                color: $primary_color_sky_blue;
                font-weight: $font_weight_medium;

                &.active_design_one {
                    color: $primary_color_white;
                }

                &.active_design_two {
                    color: $primary_color_medium_turquoise;
                }

                &.active_design_three {
                    color: $primary_color_navy_blue;
                }
            }
            /* Card_weather_city_footer_humidity_end */

            /* Card_weather_city_footer_wind_speed */
            .main_section_card_city_weather_article_footer_wind_speed {
                color: $primary_color_sky_blue;
                font-weight: $font_weight_medium;

                &.active_design_one {
                    color: $primary_color_white;
                }
                &.active_design_two {
                    color: $primary_color_medium_turquoise;
                }
                &.active_design_three {
                    color: $primary_color_navy_blue;
                }
            }
            /* Card_weather_city_footer_wind_speed_end */
        }
        /* Card_weather_footer */
    }
    /* Card_weather_city_end */
}
/* main_end */