// reset
@import 'reset';

// variables
@import 'variables';

// mixins
@import 'mixins';

body {
    @include dimensions($width: 100%, $height: auto);
    background: $primary_color_strong_blue;
    font-size: 16px;
    font-family: Helvetica;
    overflow: hidden;
}

.header {
    @include flex-container($direction: $flex_direction_row, $justify: $justify_content_space_between, $align: $align_items_center, $wrap: $flex-wrap);
    padding: 0 5%;


    .header_logo {
        @include flex-container($direction: $flex_direction_column, $justify: $justify_content_center, $align: $align_items_center, $wrap: $flex-wrap);

        .header_title {
            @include text-custom($font_size_1_5, $font_weight_light, $primary_color_gold, $text-transform_capitalize, $letter_spacing_medium);

            &::first-letter {
                color: $primary_color_sky_blue;
            }
        }

    }

    .header_title_autor {
        @include text-custom($font_size_1_1, $font_weight_medium, $primary_color_gold, $text_transform_uppercase, $letter_spacing_medium);
        color: $primary_color_gold;

        @include media-maxwidth($tablet_size) {
            display: none;
        }

        ;
    }
}

.main {
    min-height: 50vh;
    justify-content: start;
    flex-direction: $flex_direction_column;
    display: flex;
    padding: 20px;

    .main_title {
        @include text-custom($font_size_1_5, $font_weight_medium, $primary_color_gold, $text_transform_capitalize, $letter_spacing_medium);
        text-align: $text_align_center;
        margin: 25px;
    }

    .main_input {
        @include text-custom($font_size_1, $font_weight_strong, $primary_color_strong_gold, $text_transform_capitalize, $letter_spacing_medium);
        @include border-properties($border_style: $border_solid, $border_width: $border-width_2, $border_color: black, $radius: $border_radius_15);

        @include media-minwidth($smartphone_size) {
            width: 80%;
        }

        @include media-minwidth($tablet_size) {
            width: 60%;
        }
        @include media-minwidth($deskop_size){
            width: 40%;
            }

        margin: 0 auto;
        padding: 8px 15px;
        background: $medium_white;
        outline: none;
        
    }
}